.app {
	height: 100vh;
	display: grid;
	align-items: center;
}

.chart__title {
	font-size: 2rem;
	line-height: 1.5;
	text-transform: uppercase;

	color: var(--black-text);
}

.btn {
	padding: 1rem;
	border: 1px solid var(--black-border);
	background-color: var(--gray-bg);
	width: 100%;
	max-width: 14rem;
	align-self: flex-start;
	border-radius: 0.4em;
}

.btn:focus {
	border-color: var(--blue-border);
}

.container {
	width: 100%;
	max-width: 1160px;
	padding: 0 2rem;
	margin: 0 auto;
}
